body {
  background-color: black;
  color: white;
}

h2 {
  margin: 36px 0;
}

h3 {
  margin: 1% 1%;
}

h4 {
  line-height: 18px;
}

.mainContainer {
  margin: 3% 1%;
  min-height: 100%;
}

.component-container {
  margin: 0% 0 4% 0;
}

.family-container {
  position: relative;
}

.graphContainer {
  position: relative;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.titlebar {
  width: 93%;
  position: absolute;
  bottom: 25%;
  left: 1%;
  margin: 0% 2%;
}

.title {
  display: inline;
  font-size: 19px;
  float: left;
  color: white;
  /*mix-blend-mode: exclusion;*/
}

.rtData {
  display: inline;
  margin: 4px 3%;
  float: right;
  font-size: 48px;
  color: white;
  /*mix-blend-mode: exclusion;*/
}

.motorBattBar {
  display: flex;
  bottom: 20%;
  position: absolute;
  width: 93%;
}

.motorBattData {
  position: relative;
  margin-left: 11%;
  font-size: 28px;
  flex: 1;
}

.gaugeContainer {
  position: relative;
  min-height: 330px;
}

.gaugeLeft {
  position: absolute;
  width: 57%;
}

.gaugeRight {
  position: absolute;
  left: 60%;
}

.rpm-label-container {
  position: absolute;
  bottom: 43%;
  left: 43.5%;
}

.rpm-label-data {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: auto;
  font-size: 36px;
  margin: 0 0 13px 0;
}

.rpm-label {
  position: relative;
  text-align: center;
  font-size: 18pt;
}

.motorGauageBar {
  margin: 3% 0;
  display: flex;
  width: 90%;
}

.motorGaugeData {
  flex: 1;
  font-size: 19px;
}

.ttdLabel {
  margin-left: 15%;
  font-size: 19px;
}

.rpmLabel {
  margin-left: 33%;
  font-size: 19px;
}

.geoContainer {
  position: relative;
  min-height: 140px;
}

.geoSpeed {
  position: absolute;
  left: 5%;
}

.geoLocation {
  position: absolute;
  left: 51%;
  background-color: lightseagreen;
  min-height: 110px;
  width: 40%;
}

.geoLocLabel {
  margin: 5% 5%;
  font-size: 24px;
}

.historyContainer {
  position: relative;
  width: 100%;
  margin: 3% 0% 6% 0%;
  bottom: 7%;
}

.backButton {
  position: absolute;
  right: 0;
  margin: 0 7%;
  font-size: 30px;
}

.historySelect {
  position: relative;
  float: left;
  width: 17%;
  margin: 2% 0%;
}

.historyGraph {
  position: relative;
  width: 97%;
  margin: 1% 1%;
}

.history-info-container {
  text-align: center;
  margin-bottom: 3%;
}

.history-info {
  display: inline-flex;
  width: 100%;
}

.history-info-text {
  flex: 1;
}

.trend-container {
  position: relative;
}

.slider-group {
  position: relative;
  margin: 0% 8% 0% 5%;
}

.rangeslider {
  background-color: inherit;
}

.rangeslider-horizontal {
    border-radius: 0px;
}

.rangeslider-horizontal .rangeslider__fill {
    border-radius: 0px;
    background-color: inherit;
}

.rangeslider-horizontal .rangeslider__tooltip {
    top: -70px;
    left: -21px;
}

.rangeslider .rangeslider__tooltip {
    width: 110px;
    height: 40px;
    text-align: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 20px;
    transition: all 100ms ease-in;
    border-radius: 4px;
    display: inline-block;
    color: black;
    opacity: 0;
}

.slider-value {
  margin: 3% 0%;
}
