body {
  background-color: black;
  color: white;
}

h3 {
  margin: 1% 1%;
}

.mainContainer {
}

.graphContainer {
  position: relative;
  margin-top: 0%;
  margin-right: 2%;
}

.titlebar {
  position: absolute;
  bottom: 25%;
  left: 1%;
  margin: 0% 2%;
  background-color: black;
  color: white;
}

.title {
  display: inline-block;
  font-size: 19px;
  background-color: black;
  color: white;
}

.rtData {
  display: inline-block;
  margin-left: 3%;
  font-size: 17px;
  background-color: black;
  color: white;
}

.search-updatedAt {
  font-size: 20px;
  color: grey;
}

#search-container {
  margin: 2% 0% 2% 4%;
}

#search-label {
  top: 40%;
  left: 0;
  font-size: 26px;
  color: grey;
}

#go-button {
  display: none;
}

.search-updatedAt {
  color: grey;
  font-size: 16px;
}

.mdl-textfield__input {
  font-size: 32px;
  color: white;
}

.favorite {
  margin-left: 2%;
}

.unselected {
  color: grey;
}

.selected {
  color: lightblue;
}
